{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search results:</h1>

    <a class="btn btn-primary" href="{{ path('homepage') }}">Back to the phonebook</a>
    <a class="btn btn-success" href="{{ path('user_new') }}"><i class="fas fa-user-plus fa-flip-horizontal"></i></a>
    <form class="float-right" method="GET" action="{{ path('search') }}">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input type="text" class="form-control mb-2" id="inlineFormInput" name="query" placeholder="Name or phone number">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
      </div>
    </form>
    <table class="table">
        <tbody>
            {% for item in items %}
                {% if attribute(item, 'getFirstName') is defined %}
                    <tr>
                        <td>{{ item.firstName }}</td>
                        <td>{{ item.lastName }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('user_show', { 'id': item.id }) }}" role="button" title="Details"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td scope="row">{{ item.name }}</td>
                        <td scope="row">{{ item.number }}</td>
                        <td scope="row">
                            <a class="btn btn-primary" href="{{ path('user_show', { 'id': item.user.id }) }}" role="button" title="Details"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 pag-nav">
            {{ knp_pagination_render(items) }}
        </div>
    </div>
{% endblock %}
