{% extends 'base.html.twig' %}

{% block body %}
    <h1>Phonenumber</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ phoneNumber.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ phoneNumber.number }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if phoneNumber.createdAt %}{{ phoneNumber.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if phoneNumber.updatedAt %}{{ phoneNumber.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('phonenumber_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('phonenumber_edit', { 'id': phoneNumber.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button class="" type="submit" value="Delete"><i class="fas fa-trash-alt"></i></button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
